.AddListComponent {
  display: flex;
  align-items: flex-start;
}

.ListComponent {
  width: 100%;
  margin: 10px;
  padding: 10px;
  border: 1px solid;
  max-width: 150px;
}

.CardComponent {
  width: 100%;
  margin: 10px;
  padding: 10px;
  border: 1px solid;
  max-width: 150px;
}

.HiddenForm {
  margin: 10px;
  display: none;
}
